<h2>history</h2>

<div class="history-box" *ngIf="entries.length > 0; else noEntries">

  <div class="history-item" *ngFor="let entry of entries; let i = index" [appHighlightMood]="entry.mood">

    <div class="history-content">

      <div class="history-date">
        
        {{ entry.date | date:'mediumDate' }}

      </div>

      <div class="history-mood">

        {{ entry.mood | moodEmoji }} {{ entry.mood }}

      </div>

      <div class="history-details" *ngIf="entry.note">
        {{ entry.note }}
      </div>
   
    </div>

    <button class="delete-btn" (click)="onDelete(i)">delete</button>
  </div>
</div>

<ng-template #noEntries>
  <p class="empty-state">No mood entered yet please add one </p>
</ng-template>
